/Emacs-TeQ/
/init.el
/init.el~
/org-roam.db
/recentf
/transient/
/history
/elpa/
/bookmarks
/auto-save-list/
/.org-id-locations
/bookmarks~
/.last-package-update-day
/projects
/init.pdf
/init.tex
/_minted-init/
/init.tex~
/mastodon.plstore
/url/
/Emacs-Mongolian-Input-Methods/
/eshell/
/#init.el#
/eln-cache/
/#init.org#
/*/*~
/garid/*.sh
/export_*/
/devdocs/
/tree-sitter/
/quelpa/
/straight/
/yt-cache/
/tramp
/places
/kkcrc
/lsp-bridge/
/codeium/
/request/
/var/
/viper
/viper~
/.init.org.~undo-tree~
.bookmark.*
/.bookmarks.~undo-tree~
/image-dired/
/.init.el.~undo-tree~
/org-templates/export_tex/
/persist/
/.edraw-custom.eshapes.~undo-tree~
/.#edraw-custom.eshapes
/edraw-ui-state.config
*~
/session.*
